<section id="download" class="download text-center bg-primary">
  <div class="container">
    <div class="row">
      <h1>Editing Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>

</div>
</div>
</section>
