<section id="download" class="download text-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>New Photo</h1>

        <%= render 'form', photo: @photo %>
        <br>
        <br>
        <br>
        <%= link_to 'Back', photos_path , class: "btn btn-block btn-info" %>
      </div>
    </div>
  </div>
</section>
